body {
  background-color: #333;
  width: 100vh;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
}
.box {
  background-color: yellow;
  /* width: 350px;
  height: 350px; */

  /* position: relative;
  top: 0;
  left: 0; */
  width: 5px;
  height: 5px;
  animation: a1 6s forwards alternate;
}

@keyframes a1 {
  25% {
    /* border-bottom: 4px solid red; */
    width: 350px;
    height: 5px;
  }
  50% {
    /* border-bottom: 4px solid red;
    border-left: 4px solid red; */
    width: 5px;
    height: 350px;
  }
  75% {
    /* border-bottom: 4px solid red;
    border-left: 4px solid red;
    border-top: 4px solid red; */
  }
  100% {
    /* border-bottom: 4px solid red;
    border-left: 4px solid red;
    border-top: 4px solid red;
    border-right: 4px solid red; */
  }
  /* from {
    top: 100px;
    left: 100px;
  }
  to {
    
    top: 50px;
    left: 50px;
  } */
}
.box:hover {
}
