body {
  background-color: #333;
  width: 100vh;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
.box {
  background-color: yellow;
  width: 150px;
  height: 150px;
  transition: all 1s;
}
.box:hover {
  /* transform: rotate(180deg); */
  /* transform: skew(30deg); */
  /* transform: scale(2); */
  /* transform: translate(40px); */
  /* transform: translate(40px, 40px); */
  /* transform: rotateX(180deg); */
  transform: rotateY(180deg);
}
