#container {
    /* float: right; */
    background-color: blue;
}

.box {
    width: 150px;
    height: 150px;
    background-color: yellow;
    float: right;
}

#box1 {
    width: 150px;
    height: 150px;
    background-color: yellow;
    float: left;
}

.clearfix::after {
    content: "";
    display: block;
    clear: both;
}