body {
    margin: 0;
    height: 2000px;
}

.container {
    height: 100%;
    margin-left: 40px;
    position: relative;
}

.box {
    padding: 10px;
    border: 5px solid blueviolet;
    margin-bottom: 10px;
}

.navbar {
    background-color: blue;
}

.content {
    background-color: red;

}

.footer {
    background-color: green;
    /* position: relative;
    top: 80px;
    left: 40px; */
    position: fixed;
    top: 100px;
    left: 80px;
}