.container {
  display: grid;
  gap: 10px;
  grid-template-columns: repeat(3, 1fr);
  grid-template-areas:
    "header header header"
    "container1 container1 container2"
    "box1 box1 box1 "
    "box2 box2 box3 "
    "footer footer footer";
}

header {
  background-color: red;
  text-align: center;
  border: 1px solid black;
  grid-area: header;
}
.container1 {
  text-align: center;
  grid-area: container1;
}
.container2 {
  border: 1px solid black;
  text-align: center;
  grid-area: container2;
}
.box1 {
  text-align: center;
  border: 1px solid black;
  grid-area: box1;
}
.box2 {
  text-align: center;
  border: 1px solid black;
  grid-area: box2;
}
.box3 {
  text-align: center;
  border: 1px solid black;
  grid-area: box3;
}
footer {
  background-color: red;
  grid-area: footer;
  text-align: center;
  border: 1px solid black;
  text-align: center;
}
